* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --montserrat-font: 'Montserrat', sans-serif;

  --playfair-font: 'Playfair Display', serif;
}

html {
  font-family: var(--montserrat-font);
  font-size: 62.5%;
}